<div id="center-flow">
  <div id="portrait">
  </div>
  <div id="info">
    <h1>&nbsp;</h1>

    <%= link_to resume_title_path("Full") do %>
    <div class="outer-circle light-orange">
      <div class="inner-circle orange">
        <h2>Resume</h2>
      </div>
    </div>
    <% end %>

    <%= link_to project_type_url("code") do %>
    <div class="outer-circle light-red">
      <div class="inner-circle red">
        <h2>Code</h2>
      </div>
    </div>
    <% end %>

    <%= link_to galleries_path do %>
    <div class="outer-circle light-blue">
      <div class="inner-circle blue">
        <h2>Photo</h2>
      </div>
    </div>
    <% end %>

    <p class="intro_text">
     Welcome to my corner of the Internet.  I've put this site together to archive my projects, thoughts,
     and just give a general sense of what I am up to.  
     This site is still under development, but should be fully online shortly.
     <!-- You'll find some of the essentials highlighted above,
     as well as some of my hobbies - music, photography, and maybe some written word, too. -->
     Feel free to connect
     with me via your social media of choice if you want to, say, discuss any interesting projects, or just say, 'hi.'
    </p>
  </div>
</div>


