<% provide(:title, @gallery_item.title) %>

<!-- <div class="gallery_item" style="background: <%= "url('#{@gallery_item.image.url}');"%> background-position: center; background-size: cover">
</div> -->

<%= image_tag @gallery_item.image.url, width: "1000px", style: "width: 100% " %>

<br/>
<% if is_admin? %>
  <%= link_to 'Edit', edit_gallery_item_path(@gallery_item) %> |
<% end %>

<%= link_to 'Back to Gallery', gallery_path(@gallery_item.gallery_id) %>
