<% provide(:title, "Blog Posts") %>

<% if is_admin? %>
  <div id="post_content">
    <%= link_to 'New Post', new_post_path %>
  </div>
<% end %>

<% if !@post.nil? %>
  <%= render "post" %>
<% end %>

