$header_color: #303030;
$content_bg: #dfdfdf;
$heading_text: #90be3a;
$link_color: #303030;
$link_hover: #78bad6;
$header_accent: #78bad6;
$orange: #ce7c3f;
$red: #ce463f;
$blue: #368eb1;
$footer_menu: #acacac;
$gray_text: #f2f2f2;

$resume_orange: #aa7b59;
$resume_red: #aa5d59;
$resume_blue: #50849a;

$post_link: #b8e88c;

// Generic document
a {
  text-decoration: none;
  color: $link_color;
}

a:visited {
  text-decoration: none;
  color: $link_color;
}

a:hover {
  color: $link_hover;
  background: none;
}

body {
  margin:0;
  padding:0;
  position: relative;
  background: $header_color;
}

div#header {
  background-color: $header_color;
  height: 200px;
  width: 100%;
  margin: 0px;
  padding: 0px;

  a {
    text-decoration: none;
  }

  ul.social_buttons {
    float: left;
    position: relative;
    top: 45px;
  }

  div#title {
    color: $heading_text;
    top: 40px;
    left: 50px;
    display: inline;
    float: left;
    width: 500px;
    height: 120px;
    position: relative;
    font-variant: small-caps;

    h1 {
      display: block;
      font-size: 4em;
      margin: 0px;
      padding: 0px;
      position: relative;
      top: 25px;
    }
    h2 {
      display: block;
      font-size: 25px;
      margin: 0px;
      padding: 0px;
      color: $header_accent;
      left: 5px;
      top: 45px;
      position: relative;
    }
  }

  div#user_info {
    color: white;
    float: left;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    
    a {
      color: $header_accent;
    }
  }
}

div#page_title {
  display: block;
  width: 100%;
  height: 40px;
  background: $footer_menu;
  position: relative;
  top: 0;
  float: left;
  color: $header_color;
  padding-top: 20px;

  h1 {
    margin: 0 20px 0 25px;
    padding: 0;
    display: inline;
  }

  a:hover {
    color: white;
  }
}

div#body {
  min-height: 500px;
  background: $content_bg;
  margin: 0;
  padding: 20px 0 0 0;
  float: left;
  width: 100%;
  min-width: 110px;
}

div#footer {
  background-color: $header_color;
  height: 200px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;

  p {
    color: $header_accent;
    display: block;
    text-align: center;
    top: 10px;
    position: relative;
    font-size: 12px;
  }

  ul.social_buttons {
    position: relative;
    top: 10px;
    width: 250px;
  }

}

div#footer-menu {
  display: block;
  width: 100%;
  height: 75px;
  background: $footer_menu;
  position: relative;
  top: 0;
  float: left;
  color: $header_color;
}

.list-dot {
  background-image: image-url("dot.png");
  background-size: 12px;
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 20px;
}

.circle {
  border-radius:50%;
}

// Home
ul.social_buttons {
  list-style: none;
  clear: none;
  padding: 0;
  width: 100px;

  li {
    display: inline;
    margin: 0;
    padding: 0;
    clear: none;
  }
}

ul.footer_nav {

  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  position: relative;
  top: 10px;
  font-size: 20px;
  font-weight: bold;

  li {
    display: inline;
    margin: 0;
    clear: none;
  }
}

// Flash
div#flash {
  margin:0;
  height: 50px;
  float: left;
  width: 100%;
  font-weight: bold;

  p {
    margin: 15px 0 0 20px;
  }
}

.info {
  background: #90be3a;
  color: #364816;
}

.error {
  background: #e39490;
  color: #47162d;
}

// Home
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.outer-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline;
  float: left;
  margin-right: 5px;

  .inner-circle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;

    h2 {
      margin: 0;
      padding: 0;
      position: relative;
      top: 60px;
      text-align: center;
    }
  }
}

.outer-circle:hover {
  background: $header_color;
}

.orange {
  background: $orange;
  color: white;
}

.light-orange {
  background: #e3b390;
}

.light-red {
  background: #e39490;
}

.red {
  background: $red;
  color: white;
}

.blue {
  background: $blue;
  color: white;
}

.light-blue {
  background: #78bad6;
}

.intro_text {
  width: 100%;
  clear: both;
  position: relative;
  top: 20px;
}

div#center-flow {
  background: $content_bg;
  width: 1100px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

div#portrait {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: image-url("portrait.jpg");
  display: inline;
  float: left;
  position: relative;
  top: 30px;
}

div#info {
  width: 650px;
  display: inline;
  float: left;
  position: relative;
  left: 50px;
  top: 30px;

  h1 {
    color: $header_color;
  }
}


