$header_color: #303030;
$content_bg: #dfdfdf;
$heading_text: #90be3a;
$link_color: #303030;
$link_hover: #78bad6;
$header_accent: #78bad6;
$orange: #ce7c3f;
$red: #ce463f;
$blue: #368eb1;
$footer_menu: #acacac;
$gray_text: #c9c9c9;
$date_text: #c692ab;

$resume_orange: #aa7b59;
$resume_red: #aa5d59;
$resume_blue: #50849a;

$post_link: #b8e88c;

