// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application_styles';
//@import 'compass';

div#gallery_body {
  background: $header_color;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  color: white;

  a {
    color: white;
  }
}

div.gallery_cover {
  width: 100%;
  height: 300px;
  color: white;
  float: left;
  background-position: center;
  background-size: cover;
  position: relative;

  // TODO Add some kind of black gradient to make text show up
  h1 {
    width: 100%;
    text-align: center;
  }

  div.gallery_description {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
  }
}

div#tileflow {
  width: 100%;
  float: left;
  margin-top: 5px;

  img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }
}

// Compass-enabled solution - how do you specify alpha for IE?
//.gradient {
  //// needs latest Compass, add '@import "compass"' to your scss
  //@include filter-gradient(#00000000, #a6000000, horizontal); // IE6-9 fallback on horizontal gradient
  //@include background-image(radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%));
//}

.gradient {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(30,30,30,0) 0%, rgba(30,30,30,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(30,30,30,0)), color-stop(100%,rgba(30,30,30,0.65))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(30,30,30,0) 0%,rgba(30,30,30,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(30,30,30,0) 0%,rgba(30,30,30,0.65) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(30,30,30,0) 0%,rgba(30,30,30,0.65) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(30,30,30,0) 0%,rgba(30,30,30,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303030', endColorstr='#a6303030',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  float: left;
}
