// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application_styles';

div#posts_page {
  width: 100%;
  overflow: auto;
}

div#post_archive {
  float: left;
  display: inline;
  width: 190px;
  overflow: auto;
  background: $resume_blue;
  margin-left: 20px;
  border-radius: 10px;
  color: white;
  padding-left: 10px;

  h2 {
    font-size: 16px;
  }

  a {
    color: $post_link;
  }
  a:hover {
    color: white;
  }
}

div#post_content {
  float: left;
  margin-left: 20px;
  width: 60%;
  overflow: auto;
  display: inline;
  background: $resume_blue;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 20px;

  a {
    color: $post_link;
  }
  a:hover {
    color: white;
  }

  h1 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .byline {
    margin-bottom: 10px;
  }
}
