// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application_styles';

// Projects
div#project_page {
  padding-left: 20px;

  p.proj_edit {
    clear: both;
    display: block;
  }
}

div#project-tiles {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  column-count: 2;
  column-gap: 0;
  width: 100%;
}

$proj_shadow: 8px 8px 8px 0px $header_color;

div.project {
  // Column behavior
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  border-radius: 5px;

  -moz-box-shadow:    $proj_shadow;
  -webkit-box-shadow: $proj_shadow;
  box-shadow:         $proj_shadow;

  // Hack - Webkit doesn't like rounded corners and opacity!
  opacity: 0.999999;
  filter: alpha(opacity=99); /* For IE8 and earlier */

  background: $blue;
  overflow: auto;
  margin-bottom: 30px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 80%;
  float: left;

  img {
    display: inline;
    float: left;
    margin-right: 20px;
  }

  p.description {
    display: inline;
    clear: none;

    a {
      color: white;
    }
    a.hover {
      color: white;
    }
  }
}

.transparent {
  border: 0.001em solid transparent;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.transparent:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.icon_img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.primary_img {
  margin-bottom: 10px;
}

// Edit styles
div#left_half {
  float:left;
  margin-right: 50px;
}

div#right_half {
}

div.image_edit {
  float: left;
}

div.add_image {
  clear: both;
}
