// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application_styles';

// Projects
div#project_page {
  padding-left: 20px;

  p.proj_edit {
    clear: both;
    display: block;
  }
}

div#left_half {
  float:left;
  margin-right: 50px;
}

div#right_half {
}

div#project-tiles {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  column-count: 2;
  column-gap: 0;
  width: 100%;
}

div.project {
  // Column behavior
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  background: $blue;
  overflow: auto;
  margin-bottom: 30px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 80%;
  float: left;

  img {
    display: inline;
    float: left;
    margin-right: 20px;
  }

  p.description {
    display: inline;
    clear: none;

    a {
      color: white;
    }
    a.hover {
      color: white;
    }
  }
}
